@media print {
    
    .hide,#menu,Footer{
        display: none;
    }
    @page { size: auto;  margin: 0mm;}
    Card{
      display: block; /* Show the desired card */
    }
    
    #Printcard
    {
      width: 100% !important;
    }
    #Printcard > * {
       
        display: block; /* Show the desired card */
      }
  }